<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("_HeadPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body>

    @await Html.PartialAsync("_HeaderPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("_FooterPartial.cshtml")
    <partial name="_PartialJS" />
    @RenderSection("Scripts", required: false)
</body>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script>

                // Enable pusher logging - don't include this in production
                Pusher.logToConsole = true;

                var pusher = new Pusher('PUSHER_APP_KEY', {
                    cluster:'PUSHER_APP_CLUSTER'
                });

                var channel = pusher.subscribe('general');

                channel.bind('newVisit', function(data) {

                  var visits = data.visits;
                  var message = data.message;
                  $('#noOfVisitors').text( visits );
                  $('#visitorsText').text( message );
                });
</script>

</html>
