@model Web_Data.User

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Login</h3>
            <form method="post">
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" asp-for="UserName" placeholder="Username">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" asp-for="Password" placeholder="Password">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" asp-action="Login">
            </form>
            <div>
                <a class="btn btn-success" href=""><i class="fa fa-google"></i>&nbsp;&nbsp;Google</a>
                <a class="btn btn-success" href=""><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
            </div>
        </div>
        </br>
        <div class="forg">
            <a asp-area="Admin" asp-controller="User" asp-action="ForgotPassword" class="forg-left" style="margin-right:auto">Forgot Password</a>
            <a asp-area="Admin" asp-controller="User" asp-action="Create" class="forg-right">Register</a>
           
            <div class="clearfix"></div>
        </div>
        
    </div>

</div>
