@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--banner-->
<div class="banner1">
    <div class="container">
        <h3><a href="~/Assets/user/pages/index">Home</a> / <span>Mail Us</span></h3>
    </div>
</div>
<!--banner-->
<!--content-->
<div class="content">
    <!--contact-->
    <div class="mail-w3ls">
        <div class="container">
            <h2 class="tittle">Mail Us</h2>
            <div class="mail-grids">
                <div class="mail-top">
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h5>Address</h5>
                        <p>9th floor - Palace Building - 221B Walk of Fame - USA</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        <h5>Phone</h5>
                        <p>Telephone:  +1 800 603 6035</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <h5>E-mail</h5>
                        <p>E-mail:<a href="mailto:example@mail.com"> example@mail.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="map-w3">
                    <iframe width="600"
                            height="700"
                            style="border:0"
                            loading="lazy"
                            origin=""
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCJm_kSIKI9EnM3dAL5KZpdB_9LfA9T2Bc&q=Cau+Giay,Ha+Noi">
                    </iframe>
                </div>
                <div class="mail-bottom" >
                <h4 > Get In Touch With Us</h4 >
                <form action="#" method="post" >
                <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="" >
                <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="" >
                <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="" >
                <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="" > Message...</textarea >
                <input type="submit" value="Submit" >
                <input type="reset" value="Clear" >

                </form >
            </div >
        </div >
    </div >
</div >
                      
